
<div class="">
  <div class="row">
   <div class="col-12">
     <nav class="navbar navbar-expand-md navbar-dark bg-primary " >
       <button type="button" class="btn btn-secondary " (click)="setSelectNav(1)">Procesadores</button>
       <button type="button" class="btn btn-success" (click)="setSelectNav(2)">Tarjetas Graficas</button>
       <button type="button" class="btn btn-secondary" (click)="setSelectNav(3)">RAMs</button>
       <button type="button" class="btn btn-success" (click)="setSelectNav(4)">Placas Base</button>
       <button type="button" class="btn btn-danger" (click)="setSelectNav(5)">Coolers</button>
       <button type="button" class="btn btn-warning" (click)="setSelectNav(6)">Fuentes de Poder</button>
       <button type="button" class="btn btn-info" (click)="setSelectNav(7)">Discos</button>
       <button type="button" class="btn btn-light" (click)="setSelectNav(8)">Cases</button>
       <button type="button" class="btn btn-dark" (click)="setSelectNav(9)">Calcular Mejor PC segun presupuesto</button>

     </nav>
   </div>
  </div>
  <br>
  <br>
   <!-- -----------------------procesadores---------------------------------------------- -->
  <div *ngIf="getSelectNav() == 1" class="row">
    <div class="col">

      <div class="container">
        <div class="row">
          <div class="col-6">
            <div>
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Ghz</th>
                    <th scope="col">Nucleos</th>
                    <th scope="col">Precio</th>
                  </tr>
                </thead>
                <tbody *ngFor="let p of procesadores">
                  <tr>
                    <td>{{p.nombre}}</td>
                    <td>{{p.ghz}}</td>
                    <td>{{p.nucleos}}</td>
                    <td>s/.{{p.precio}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
     <!-- -----------------------Tarjetas Graficas---------------------------------------------- -->
     <div *ngIf="getSelectNav() == 2" class="row">
      <div class="col">

        <div class="container">
          <div class="row">
            <div class="col-6">
              <div>
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Nombre</th>
                      <th scope="col">Frecuencia</th>
                      <th scope="col">Memoria</th>
                      <th scope="col">Ancho de banda</th>
                      <th scope="col">Precio</th>
                    </tr>
                  </thead>
                  <tbody *ngFor="let t of tarjetasGraficas">
                    <tr>
                      <td>{{t.nombre}}</td>
                      <td>{{t.frecuencia}} MHz</td>
                      <td>{{t.memoria}} GB</td>
                      <td>{{t.ancho_banda}} GB/s</td>
                      <td>s/.{{t.precio}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>
       <!-- -----------------------RAMs---------------------------------------------- -->
  <div *ngIf="getSelectNav() == 3" class="row">
    <div class="col">

      <div class="container">
        <div class="row">
          <div class="col-6">
            <div>
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Mhz</th>
                    <th scope="col">Memoria</th>
                    <th scope="col">Precio</th>
                  </tr>
                </thead>
                <tbody *ngFor="let r of rams">
                  <tr>
                    <td>{{r.nombre}}</td>
                    <td>{{r.mhz}}</td>
                    <td>{{r.memoria}} GB</td>
                    <td>s/.{{r.precio}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
     <!-- -----------------------Placas Bases---------------------------------------------- -->
     <div *ngIf="getSelectNav() == 4" class="row">
      <div class="col">

        <div class="container">
          <div class="row">
            <div class="col-6">
              <div>
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Nombre</th>
                      <th scope="col">Precio</th>
                    </tr>
                  </thead>
                  <tbody *ngFor="let pb of placasBases">
                    <tr>
                      <td>{{pb.nombre}}</td>
                      <td>s/.{{pb.precio}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>
       <!-- -----------------------Coolers---------------------------------------------- -->
  <div *ngIf="getSelectNav() == 5" class="row">
    <div class="col">

      <div class="container">
        <div class="row">
          <div class="col-6">
            <div>
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Precio</th>
                </tr>
                </thead>
                <tbody *ngFor="let c of coolers">
                  <tr>
                    <td>{{c.nombre}}</td>
                    <td>s/.{{c.precio}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
     <!-- -----------------------Fuentes de Poder---------------------------------------------- -->
     <div *ngIf="getSelectNav() == 6" class="row">
      <div class="col">

        <div class="container">
          <div class="row">
            <div class="col-6">
              <div>
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Nombre</th>
                      <th scope="col">Precio</th>
                    </tr>
                  </thead>
                  <tbody *ngFor="let f of fuentesPoder">
                    <tr>
                      <td>{{f.nombre}}</td>
                      <td>s/.{{f.precio}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>
       <!-- -----------------------Discos---------------------------------------------- -->
  <div *ngIf="getSelectNav() == 7" class="row">
    <div class="col">

      <div class="container">
        <div class="row">
          <div class="col-6">
            <div>
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Tipo</th>
                    <th scope="col">Espacio</th>
                    <th scope="col">Precio</th>

                  </tr>
                </thead>
                <tbody *ngFor="let di of discos">
                  <tr>
                    <td>{{di.nombre}}</td>
                    <td>{{di.tipo}}</td>
                    <td>{{di.espacio}}</td>
                    <td>s/.{{di.precio}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
     <!-- -----------------------Cases---------------------------------------------- -->
     <div *ngIf="getSelectNav() == 8" class="row">
      <div class="col">

        <div class="container">
          <div class="row">
            <div class="col-6">
              <div>
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Nombre</th>
                      <th scope="col">Precio</th>
                    </tr>
                  </thead>
                  <tbody *ngFor="let ca of cases">
                    <tr>
                      <td>{{ca.nombre}}</td>
                      <td>s/.{{ca.precio}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>

       <!-- -----------------------Calculo---------------------------------------------- -->
     <div *ngIf="getSelectNav() == 9" class="row">
      <div class="col">
        <div>Mejor PC para tu presupuesto, s/.1916 es lo minimo posible:</div>

        <div>
          <form #createCursoForm="ngForm" class="form-inline my-2 my-lg-0" (ngSubmit)="calcularPresupuesto()">
            <input class="form-control mr-sm-2" type="text" name="presupuesto"
                  placeholder="inserte su presupuesto" required [(ngModel)]="mejorpc.presupuesto">

            <button [disabled]="!createCursoForm.valid" class="btn btn-outline-success my-2 my-sm-0" type="submit">Insertar Presupuesto</button>
          </form>
        </div>

      </div>
      <br>
      <div class="container">
        <div class="row">
          <div class="col-6">
            <ul class="list-group" *ngFor="let item of listaMejoresComponentesPresupuesto">
              <li class="list-group-item">Componente: {{item.nombre}} || Precio: {{item.precio}}</li>
            </ul>
            Monto Total: {{sumaTotal.suma}}
          </div>

        </div>
      </div>


    </div>

</div>
